//COLORES
$primary : #141E46;
$btnColor : #F0EEED;
$bgColor : #EDEDED;
$softRed : #F45050;
$softYellow : #FFC861;
$softYelloToWhite:#FFD381;
$dark : #000;
$darkText:#4b4b4b;
$light : #FFF;
$softGrey:#d3d3d3;
$darkGreen: #1b5e20;
$lightGreen: #109b27;
$darkGrey: #b7b7b7;

//VARIABLE
$boxShadow: -10px 10px 5px rgb(217, 217, 217);
$transition: all ease-in-out 0.2s;

$breakpoint-small: 768px;
$breakpoint-medium: 990px;
$breakpoint-large: 1200px;

@font-face {
  font-family: FiraSan;
  src: url(../fonts/FiraSans-Regular.ttf);
}

.home__container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .home__headline {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .home__headline_image {
      display: none;
      @media (min-width: $breakpoint-small) {
        width: 40%;
        border-radius: 0.5rem;
        overflow: hidden;
        display: block;
      }
    }
  }
  .home__headline_title {
    position: relative;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    text-align: center;
    padding: 0;
    @media (min-width: $breakpoint-small) {
      width: 50%;
      padding: 10rem 0;
      text-align: left;
      &.home__headline_full {
        width: 100%;
        text-align: center;
      }
    }
    .slogan {
      font-size: 6rem;
      font-weight: 600;
      color: $dark;
      width: 100%;
      .slogan__hightlight {
        font-size: 6rem;
        font-weight: 600;
        color: $primary;
        animation: colorChanging forwards infinite 5s;
      }
    }
    .sub__slogan {
      font-size: 2rem;
      color: $dark;
      transition: $transition;
    }

    .headline__btn_book {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 2px solid $primary;
      color: $dark;
      padding: 1rem 2rem;
      border-radius: 1rem;
      gap: 1rem;
      cursor: pointer;
      text-transform: uppercase;
      transition: $transition;
      &:hover {
        transition: $transition;
        background-color: $softYellow;

        .btn__book_icon {
          transition: $transition;
          transform: translateX(10px);
        }
      }

      .btn__book_text {
        font-size: 2rem;
        font-weight: 600;
      }

      .btn__book_icon {
        transition: $transition;
        font-size: 2rem;
      }
    }
  }

  .home__box {
    width: 95%;
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media (min-width: $breakpoint-small) {
      &.home__box_row {
        flex-direction: row;
        justify-content: space-between;
      }
    }
    .contact__input {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @media (min-width: $breakpoint-small) {
        width: 50%;
      }
    }
    .box__content {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 3rem;
      .box__title {
        font-size: 4rem;
        font-weight: 600;
        &.box__title_smaller {
          font-size: 2.5rem;
        }
      }
      .box__value {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 1.8rem;
        .value__item {
          line-height: 3rem;
          text-align: center;
          &.text_on_left {
            text-align: left;
          }
        }
      }
      .box__btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid $light;
        color: $light;
        padding: 1rem 2rem;
        border-radius: 1rem;
        gap: 1rem;
        cursor: pointer;
        text-transform: uppercase;
        transition: $transition;
        &:hover {
          transition: $transition;
          background-color: $softYellow;
          border: 2px solid $softYellow;
          .box__btn_text {
            color: $dark;
          }
          .box__btn_icon {
            transition: $transition;
            transform: translateX(10px);
            color: $dark;
          }
        }

        .box__btn_text {
          font-size: 1.5rem;
          font-weight: 600;
        }

        .box__btn_icon {
          transition: $transition;
          font-size: 2rem;
        }
      }
    }
    .review__list {
      width: 100%;
      display: flex;
      align-items: flex-start;
      // justify-content: space-between;
      gap: 3rem;
      flex-wrap: wrap;
      margin-top: 5rem;
      .review__item {
        width: 100%;
        border-radius: 1rem;
        padding: 2rem;
        border: 2px solid $primary;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: $primary;
        @media (min-width: $breakpoint-small) {
          width: 25%;
        }
        .review__info {
          width: 95%;
          border-radius: 0.5rem;
          padding: 0.5rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          color: $light;
          .review__name {
            font-size: 1.5rem;
            font-weight: 600;
            hyphens: auto;
          }
          .review__rate {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .review__service {
              font-size: 1.5rem;
            }
            .review__value {
              font-size: 1.5rem;
              display: flex;
              align-items: center;
              gap: 0.5rem;
              .review__value_icon {
                color: $softYellow;
              }
            }
          }
        }
        .review__feedback {
          width: 90%;
          color: $dark;
          background-color: $light;
          font-size: 1.5rem;
          border-radius: 0.5rem;
          padding: 1rem;
        }
      }
    }
    .box__images {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      flex-direction: column;
      margin-top: 3rem;
      @media (min-width: $breakpoint-small) {
        &.box__images_row {
          flex-direction: row;
        }
      }
      .gallery {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        @media (min-width: $breakpoint-small) {
          &:hover :not(:hover) {
            opacity: 0.3;
          }
        }
        .image__item {
          width: 45%;
          height: 20rem;
          object-fit: cover;
          border-radius: 0.5rem;
          transition: opacity 0.6s ease;
          @media (min-width: $breakpoint-small) {
            width: 23%;
            height: 30rem;
            object-fit: cover;
            border-radius: 0.5rem;
          }
        }
      }
      .image__group {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        .image__item {
          width: 45%;
          height: 30rem;
          object-fit: cover;
          border-radius: 1rem;
          transition: $transition;
          &.up {
            transform: translateY(-10px);
          }
          &.down {
            transform: translateY(10px);
          }
          &.left {
            transform: translateX(-50px);
          }
          &.right {
            transform: translateX(50px);
          }
        }
        .service {
          width: 100%;
          background-color: $light;
          padding: 2rem;
          border-radius: 2rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 3rem;
          transition: $transition;
          &:hover {
            transition: $transition;
            background-color: $primary;
            color: $light;
            .service_content {
              .content__value {
                display: block;
              }
            }
          }
          .service_headline {
            display: flex;
            align-items: center;
            gap: 3rem;
            .headline__icon {
              font-size: 3rem;
              color: $softGrey;
            }
            .headline__text {
              font-size: 2rem;
              font-weight: 600;
            }
          }
          .service_content {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
            .content__slogan {
              font-size: 1.5rem;
              display: flex;
              font-weight: 600;
            }
            .content__value {
              line-height: 3rem;
              font-size: 1.5rem;
            }
          }
          .service__btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $softYellow;
            padding: 2rem 3rem;
            gap: 2rem;
            font-size: 1.5rem;
            border-radius: 2rem;
            font-weight: 600;
            color: $dark;
            cursor: pointer;
            transition: $transition;
            .service__btn_icon {
              transition: $transition;
            }
            &:hover {
              transition: $transition;
              .service__btn_icon {
                transition: $transition;
                transform: translateX(10px);
              }
            }
          }
        }
        .reason {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;
          cursor: pointer;
          @media (min-width: $breakpoint-small) {
            .reason__content {
              opacity: 0;
              transition: $transition;
            }
            &:hover {
              transition: $transition;
              .reason__content {
                opacity: 1;
              }
            }
          }
          .reason__image {
            width: 80%;
            height: 40rem;
            object-fit: cover;
            border-radius: 1rem;
          }
          .reason__content {
            position: absolute;
            top: 0;
            width: 80%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.7);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            border-radius: 1rem;
            gap: 3rem;
            .reason__headline {
              font-size: 2rem;
              font-weight: 600;
              color: $light;
              width: 80%;
            }
            .reason__value {
              padding: 0 2rem;
              font-size: 1.5rem;
              color: $light;
              line-height: 3rem;
            }
          }
        }
        .contact {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          @media (min-width: $breakpoint-small) {
            flex-direction: column;
            align-items: flex-end;
            gap: 5rem;
          }
          &.contact__form {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 100%;
            align-items: center;
            input {
              width: 90%;
              padding: 2rem;
            }
            .contact__textarea {
              width: 90%;
              border-radius: 1rem;
              outline: none;
              border: none;
              font-weight: 600;
              font-family: FiraSan;
              padding: 2rem;
            }
            .btn__form {
              background-color: $softYellow;
              color: $light;
              width: 100%;
              font-family: "Firasan";
              font-size: 2rem;
              color: $dark;
              &.sent{
                transition: $transition;
                background-color: $lightGreen;
                pointer-events: none;
                color: $light;
                font-size: 2rem;
                width: 90%;
              }
            }
          }
          input {
            width: 70%;
            padding: 1rem 2rem;
            border-radius: 1rem;
            outline: none;
            border: none;
            font-weight: 600;
            font-family: FiraSan;
          }
          .contact__btn {
            @media (min-width: $breakpoint-small) {
              width: 70%;
            }
            padding: 1rem 2rem;
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $softYellow;
            cursor: pointer;
            transition: $transition;
            .contact__btn_icon {
              color: $dark;
              transition: $transition;
              font-size: 2rem;
              background: none;
              border: none;
              font-family: "Firasan";
            }
          }
          .buy__btn {
            @media (min-width: $breakpoint-small) {
              width: 70%;
            }
            padding: 1rem;
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: $transition;
            border: 2px solid $light;
            text-transform: uppercase;
            gap: 3rem;
            font-size: 2rem;
            font-weight: 600;
            &:hover {
              transition: $transition;
              background-color: $softYellow;
              color: $dark;
              border-color: $softYellow;
            }
          }
        }
        .headline__btn_book {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 2px solid $light;
          color: $light;
          padding: 1rem 2rem;
          border-radius: 1rem;
          gap: 1rem;
          cursor: pointer;
          width: 40%;
          text-transform: uppercase;
          transition: $transition;
          &:hover {
            transition: $transition;
            background-color: $softYellow;
            color: $dark;
            border: 2px solid $softYellow;
            .btn__book_icon {
              transform: translateX(10px);
            }
          }
          .btn__book_text {
            font-size: 2rem;
            font-weight: 600;
          }
          .btn__book_icon {
            transition: $transition;
            font-size: 2rem;
          }
        }
        .contact__info {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2rem;
          .contact__info_item {
            width: 70%;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1rem;
            background: $light;
            color: $dark;
            border-radius: 1rem;
            padding: 1rem 0;
            .contact__info_title {
              font-size: 2rem;
            }
            .contact__info_value {
              font-size: 1.5rem;
              font-weight: 600;
            }
          }
        }
      }
      .contact__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .contact {
          width: 90%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          @media (min-width: $breakpoint-small) {
            flex-direction: column;
            align-items: flex-end;
            gap: 3rem;
          }
          input {
            width: 100%;
            padding: 1rem 2rem;
            border-radius: 1rem;
            outline: none;
            border: none;
            font-weight: 600;
            font-family: FiraSan;
          }
          .contact__btn {
            @media (min-width: $breakpoint-small) {
              width: 100%;
            }
            padding: 1rem 2rem;
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $softYellow;
            cursor: pointer;
            transition: $transition;
            &:hover {
              .contact__btn_icon {
                transition: $transition;
                transform: translateX(10px);
              }
            }
            .contact__btn_icon {
              color: $dark;
              transition: $transition;
              font-size: 2rem;
            }
          }
        }
        .contact__or {
          display: flex;
          align-items: center;
          gap: 2rem;
          font-size: 2rem;
          font-weight: 600;
          text-transform: uppercase;
          margin: 3rem 0;
          &::before {
            content: "";
            display: block;
            width: 5rem;
            height: 0.2rem;
            background-color: $light;
          }
          &::after {
            content: "";
            display: block;
            width: 5rem;
            height: 0.2rem;
            background-color: $light;
          }
        }
        .buy__btn {
          @media (min-width: $breakpoint-small) {
            width: 50%;
          }
          padding: 1rem;
          border-radius: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: $transition;
          border: 2px solid $light;
          text-transform: uppercase;
          gap: 3rem;
          font-size: 2rem;
          font-weight: 600;
          &:hover {
            transition: $transition;
            background-color: $softYellow;
            color: $dark;
            border-color: $softYellow;
          }
        }
      }
      .break__text {
        font-size: 2rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 1rem;
        &::before {
          content: "";
          display: block;
          width: 10rem;
          height: 1px;
          background-color: $light;
        }
        &::after {
          content: "";
          display: block;
          width: 10rem;
          height: 1px;
          background-color: $light;
        }
      }
    }
    .contact__image {
      display: none;
      @media (min-width: $breakpoint-small) {
        display: block;
        width: 45%;
        border-radius: 1rem;
      }
    }
  }
}
